#id_intro_title {
	width: 100%;
}

summary {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border: 1px solid #666;
}
td, th {
  border: 1px solid #666;
  padding: 0.5em;
}

td.midashi{
	color:white;
	background:#008080;
	text-align:center;
	vertical-align:middle;
	font-weight: bold; 
}