<form method="post" id="myform" class="form-horizontal">
    <div class="box-body">
        <div class="form-group">
            <label class="col-xs-2 control-label">記事名</label>
            <div class="col-xs-10">
                <p>{{  article.intro_title|default_if_none:"未入力"  }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">タイプ</label>
            <div class="col-xs-10">
                <p>{{  article.get_intro_type_display|default_if_none:"未入力"  }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">導入文</label>
            <div class="col-xs-10">
                <p>{{  article.intro_content|default_if_none:"未入力"  }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">キーワード</label>
            <div class="col-xs-10">
                <p>{{  article.keyword|default_if_none:"未入力"  }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">作成者</label>
            <div class="col-xs-10">
                <p>{{  article.created_by.get_full_name  }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">作成日時</label>
            <div class="col-xs-10">
                <p>{{  article.created_at|date:"Y/m/d G:i:s"  }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">更新者</label>
            <div class="col-xs-10">
                <p>{{  article.updated_by.get_full_name  }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">更新日時</label>
            <div class="col-xs-10">
                <p>{{  article.updated_at|date:"Y/m/d G:i:s"  }}</p>
            </div>
        </div>
    </div>
    <hr>
    {% for detail in article.articledetail_set.all %}
        <div class="box-header">
          <h3 class="box-title"><i class="fa fa-file-text-o"></i>ブロック{{ forloop.counter }}</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label class="col-xs-2 control-label">表示順</label>
                <div class="col-xs-10">
                    <p>{{  detail.order_id  }}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label">見出し</label>
                <div class="col-xs-10">
                    <p>{{  detail.block_title  }}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label">内容</label>
                <div class="col-xs-10">
                    <p>{{  detail.block_content  }}</p>
                </div>
            </div>
        </div>
        {% if forloop.last %}
             <input type="hidden" name="counter" id="counter" value="{{ forloop.counter }}">
        {% endif %}
    {% endfor %}
    <input type="hidden" name="txtsource" id="txtsource" value="
        <h2>{{  html_pre  }}</h2>
    ">
</form>




