<div class="row">
  <div class="col-xs-12">
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-comments-o"></i>コメント</h3>
        </div><!-- /.box-header -->
        {% for comment in comment_list %}
            名前:{{ comment.created_by }}<br>
            テキスト:{{ comment.content }}<br>
            <a href="{% url 'reply' comment.pk %}">返信する</a><br>
        
            {% for reply in comment.reply_set.all %}
            <div style="margin-left:100px;">
                名前:{{ reply.created_by }}<br>
                テキスト:{{ reply.content }}<br>       
            </div>
            {% endfor %}

            <hr>
        {% endfor %}
        <div class="box-footer">
            <a class="btn btn-default btn-block command save" href="{% url 'comment' article.pk %}"><i class="fa fa-plus-square"></i>コメントする</a>
        </div>
    </div>
  </div>
</div>


