{% extends "./_base.html" %}
{% block page_name %}<i class="fa fa-html5"></i>記事詳細{% endblock %}
{% block page_description %}詳細データを表示します。{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-info-circle"></i>基本情報</h3>
            </div><!-- /.box-header -->
            {% include "./article_detail_contents.html" %}

            <div class="box-footer">
                <a href="{% url 'index' %}" class="btn btn-default "><i class="fa fa-reply"></i>戻る</a>
                <a href="{% url 'delete' article.pk %}" class="btn btn-danger pull-right btn-sm" id="btn_del"><i class="fa fa-trash"></i>削除</a>
                <a href="{% url 'update' article.pk %}" class="btn btn-warning pull-right btn-sm"><i class="fa fa-edit"></i>編集</a>
                <a href="" class="btn btn-info" data-toggle="modal" data-target="#HTMLModal"><i class="fa fa-play"></i>プレビュー表示</a>
                
            </div>
        </div><!-- /.box -->
      </div>
    </div>
    {% for comment in article.comment_set.all %}
        {% if comment.is_public %}
            名前:{{ comment.created_by }}<br>
            テキスト:{{ comment.cntent }}<br>
            <a href="{% url 'reply' comment.pk %}">返信する</a><br>
        
            {% for reply in comment.reply_set.all %}
            <div style="margin-left:100px;">
                {% if reply.is_public %}
                    名前:{{ reply.created_by }}<br>
                    テキスト:{{ reply.cntent }}<br>       
                {% else %}
                    <p>まだ承認されていません。(返信コメント)</p>
                {% endif %}
            </div>
            {% endfor %}
     
        {% else %}
            <p>まだ承認されていません。(コメント)</p>
        {% endif %}
        <hr>
    {% endfor %}

    <div class="modal fade" id="HTMLModal" tabindex="-1" role="dialog" aria-labelledby="HtmlModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="HtmlModalLabel"><i class="fa fa-eye"></i>ページプレビュー</h4>
          </div>
          <div class="modal-body">
            <div id="preview"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            <button type="button" class="btn btn-primary" id="export">HTMLファイル作成</button>
            <a id="download" style="display:none;" target="_blank"><i class="fa fa-cloud-download"></i>DownLoad</a>
          </div>
        </div>
      </div>
    </div>

    {% include "./article_comments.html" %}
{% endblock %}

{% block bottom_script %}
    <script>
        $(function() {
            var source = $('input:hidden[name="txtsource"]').val();
            
            $('#preview').html(source);

            //ブラウザチェック　safariは現在対応不可 html5 File API
            if (typeof Blob !== "undefined") {
                //alert('このブラウザに対応しています');
            } else {
                alert('このブラウザには対応していません');
            }
            $("#export").click(function(){  // 出力ボタンを押した場合は、setBlobUrl関数に値を渡して実行
                setBlobUrl("download", source);
                document.getElementById("download").style.display = "";
            });
        });
        function setBlobUrl(id, content) {
         // 指定されたデータを保持するBlobを作成する。
            var blob = new Blob([ content ], { "type" : "application/x-msdownload" });
            var title = $('input:hidden[name="article_title"]').val();
            var update_at = $('input:hidden[name="article_update"]').val();
            
         
         // Aタグのhref属性にBlobオブジェクトを設定し、リンクを生成
         // （IEの場合は右クリック＞ファイルに保存）
            window.URL = window.URL || window.webkitURL;
            $("#" + id).attr("href", window.URL.createObjectURL(blob));
            $("#" + id).attr("download", title + "_" + update_at + ".txt");
        }
    </script>
{% endblock bottom_script %}

