{% extends "./_base.html" %}
{% block page_name %}<i class="fa fa-html5"></i>記事詳細{% endblock %}
{% block page_description %}詳細データを表示します。{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-info-circle"></i>基本情報</h3>
            </div><!-- /.box-header -->
            {% include "./article_detail_contents.html" %}
            <div class="box-footer">
                <a href="{% url 'index' %}" class="btn btn-default btn-sm"><i class="fa fa-reply"></i>戻る</a>
                <a href="{% url 'update' article.pk %}" class="btn btn-warning pull-right btn-sm"><i class="fa fa-edit"></i>編集</a>
                <a href="{% url 'delete' article.pk %}" class="btn btn-danger pull-right btn-sm" id="btn_del"><i class="fa fa-trash"></i>削除</a>
            </div>
        </div><!-- /.box -->
      </div>
    </div>
    {% include "./article_comments.html" %}
{% endblock %}
