<form method="post" id="myform" class="form-horizontal">
    <div class="box-body">
        <div class="form-group">
            <label class="col-xs-2 control-label">記事名</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{  article.intro_title|default_if_none:"未入力"  }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">タイプ</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{  article.get_intro_type_display|default_if_none:"未入力"  }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">導入文</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{  article.intro_content|linebreaksbr  }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">タグ</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{  article.keyword|default_if_none:"未入力"  }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">作成者</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{  article.created_by.get_full_name  }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">作成日時</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{  article.created_at|date:"Y/m/d G:i:s"  }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">更新者</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{  article.updated_by.get_full_name  }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">更新日時</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{  article.updated_at|date:"Y/m/d G:i:s"  }}</p>
            </div>
        </div>
    </div>
    <hr>
    {% for detail in article.articledetail_set.all %}
        <div class="box">
            <div class="box-header with-border">
              <h4 class="box-title"><i class="fa fa-file-text-o"></i>ブロック{{ forloop.counter }}</h4>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"　title="Collapse">
                  <i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-xs-2 control-label">表示順</label>
                    <div class="col-xs-10">
                        <p class="form-control-static">{{  detail.order_id  }}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 control-label">見出し</label>
                    <div class="col-xs-10">
                        <p class="form-control-static">{{  detail.block_title  }}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 control-label">内容</label>
                    <div class="col-xs-10">
                        <p class="form-control-static">{{  detail.block_content|linebreaksbr  }}</p>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                {% for fix in detail.articlefix_set.all %}
                <div class="form-group">
                    <label class="col-xs-2 control-label">指摘内容</label>
                    <div class="col-xs-10">
                        <p class="form-control-static">{{  fix.block_fix  }}</p>
                    </div>
                </div>
                {% endfor %}
                <a class="btn btn-default command save" href="{% url 'fix' detail.pk %}"><i class="fa fa-plus-square pull-right"></i>指摘する</a>
            </div>
        </div>
        <!-- /.box -->
        {% if forloop.last %}
             <input type="hidden" name="counter" id="counter" value="{{ forloop.counter }}">
        {% endif %}
    {% endfor %}
    <input type="hidden" name="article_title" id="article_title" value="{{ article.intro_title }}">
    <input type="hidden" name="article_update" id="article_update" value="{{ article.updated_at }}">
    <input type="hidden" name="txtsource" id="txtsource" value="{{  html_pre  }}">
</form>




