<div class="row">
  <div class="col-xs-12">
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-comments-o"></i>コメント</h3>
        </div><!-- /.box-header -->

        <table id="article_list" class="table table-bordered">
            {% for comment in comment_list %}
            {% if forloop.first %}
            <thead>
                <tr>
                    <th>投稿者<br>投稿日時</th>
                    <th>コメント</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {% endif %}
            <tbody>
            
            <tr>
                <td>
                    【{{ comment.created_by }}】<br>
                    {{ comment.created_at }}
                </td>
                <td>
                    <a href="{% url 'update' comment.pk %}" class="">{{ comment.content }}</a>
                    {% for reply in comment.reply_set.all %}
                    <hr>
                    <div>
                        【{{ reply.created_by }}:{{ reply.created_at }}】<br>
                        {{ reply.content }}       
                    </div>
                    {% endfor %}
                </td>
                <td><a href="{% url 'reply' comment.pk %}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>返信</a></td>
                <td><a href="{% url 'delete' comment.pk %}" class="btn btn-danger btn-sm" id="btn_del"><i class="fa fa-trash"></i></a></td>
            </tr>

            {% empty %}
            <p> ※コメントはありません。</p>
            {% endfor %}

            </tbody>
        </table>
        <div class="box-footer">
            <a class="btn btn-default btn-block command save" href="{% url 'comment' article.pk %}"><i class="fa fa-plus-square"></i>コメントする</a>
        </div>
    </div>
  </div>
</div>


