<form method="post" id="myform" class="form-horizontal">
    <div class="box-body">
        <table class="table-bordered">
            <tr>
                <td class="col-xs-1 midashi">オーダーID</td>
                <td class="col-xs-1 ">{{  article.order_id.id }}</td>
                <td class="col-xs-1 midashi">オーダー名</td>
                <td class="col-xs-5 ">{{  article.order_id }}</td>
                <td class="col-xs-1 midashi">依頼者</td>
                <td class="col-xs-1 ">{{  article.order_id.created_by.get_full_name }}</td>
                <td class="col-xs-1 midashi">依頼日時</td>
                <td class="col-xs-1 ">{{  article.order_id.created_at|date:"Y/m/d G:i:s" }}</td>
            </tr>
            <tr>
                <td class="col-xs-1 midashi">記事ID</td>
                <td class="col-xs-1 ">{{  article.id }}</td>
                <td class="col-xs-1 midashi">記事名</td>
                <td class="col-xs-5 ">{{  article.intro_title }}</td>
                <td class="col-xs-1 midashi">執筆者</td>
                <td class="col-xs-1 ">{{  article.created_by.get_full_name }}</td>
                <td class="col-xs-1 midashi">執筆日時</td>
                <td class="col-xs-1 ">{{  article.created_at|date:"Y/m/d G:i:s" }}</td>
            </tr>
            <tr>
                <td class="col-xs-1 midashi">文字数</td>
                <td class="col-xs-1 ">{{  html_len }}</td>
                <td class="col-xs-1 midashi">タイプ</td>
                <td class="col-xs-5 ">{{  article.get_intro_type_display }}</td>
                <td class="col-xs-1 midashi">更新者</td>
                <td class="col-xs-1 ">{{  article.updated_by.get_full_name }}</td>
                <td class="col-xs-1 midashi">更新日時</td>
                <td class="col-xs-1 ">{{  article.updated_at|date:"Y/m/d G:i:s" }}</td>
            </tr>
            <tr>
                <td class="col-xs-1 midashi">導入文</td>
                <td class="col-xs-7 " colspan="5">
                    <div class="p-3">
                      <!-- タブボタン部分 -->
                      <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a href="#tab1" class="nav-link active" data-toggle="tab">HTML</a>
                        </li>
                        <li class="nav-item">
                          <a href="#tab2" class="nav-link" data-toggle="tab">ソース</a>
                        </li>
                      </ul>
                      <!--タブのコンテンツ部分-->
                      <div class="tab-content">
                        <div id="tab1" class="tab-pane active">
                          <p class="form-control-static"><div id="intro_preview"></div></p>
                        </div>
                        <div id="tab2" class="tab-pane">
                          <p class="form-control-static"><br>{{  article.intro_content|linebreaksbr  }}</p>
                        </div>
                      </div>
                    </div>
                </td>
                <td class="col-xs-1 midashi">タグ</td>
                <td class="col-xs-3 ">{{  article.keyword }}</td>
            </tr>
        </table>

    </div>
    <hr>
    {% for detail in article.articledetail_set.all %}
        <div class="box">
            <div class="box-header with-border">
              <h4 class="box-title"><i class="fa fa-file-text-o"></i>ブロック{{ forloop.counter }}</h4>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"　title="Collapse">
                  <i class="fa fa-minus"></i></button>
              </div>
            </div>

            <div class="box-body">
                <table class="table-bordered">
                    <tr>
                        <td class="col-xs-1 midashi">表示順</td>
                        <td class="col-xs-1 ">{{  detail.order_id }}</td>
                        <td class="col-xs-1 midashi">見出し</td>
                        <td class="col-xs-9 ">{{  detail.block_title }}</td>
                    </tr>
                    <tr>
                        <td class="col-xs-1 midashi">内容</td>
                        <td class="col-xs-11 " colspan="3">{{  detail.block_content|linebreaksbr }}</td>
                    </tr>
                
            
                {% for fix in detail.articlefix_set.all %}
                    <tr>
                        <td class="col-xs-1 "><i class="glyphicon glyphicon-triangle-right"></i>指摘</td>
                        <td class="col-xs-11 " colspan="3"  style="margin-left:50px;">
                            <small>
                                <i class="glyphicon glyphicon-user"></i>{{ fix.created_by }}:
                                <i class="glyphicon glyphicon-time"></i>{{ fix.created_at }}<br>{{ fix.block_fix|linebreaksbr }}
                            </small>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            <div class="box-footer">
                <a class="btn btn-default command save btn-block " href="{% url 'fix' detail.pk %}"><i class="glyphicon glyphicon-alert"></i>指摘する</a>
            </div>
        </div>
        <!-- /.box -->
        {% if forloop.last %}
             <input type="hidden" name="counter" id="counter" value="{{ forloop.counter }}">
        {% endif %}
    {% endfor %}
    <input type="hidden" name="article_title" id="article_title" value="{{ article.intro_title }}">
    <input type="hidden" name="article_update" id="article_update" value="{{ article.updated_at }}">
    <input type="hidden" name="txtsource" id="txtsource" value="{{  html_pre  }}">
    <input type="hidden" name="intro_txtsource" id="intro_txtsource" value="{{  article.intro_content|linebreaksbr  }}">
</form>




