{% extends "./_base.html" %}
{% block page_name %}<i class="fa fa-html5"></i>記事詳細{% endblock %}
{% block page_description %}詳細データを表示します。{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-info-circle"></i>基本情報</h3>
            </div><!-- /.box-header -->
            {% include "./article_detail_contents.html" %}
            <div class="box-footer">
                <a href="{% url 'index' %}" class="btn btn-default btn-sm"><i class="fa fa-reply"></i>戻る</a>
                <a href="{% url 'delete' article.pk %}" class="btn btn-danger pull-right btn-sm" id="btn_del"><i class="fa fa-trash"></i>削除</a>
                <a href="{% url 'update' article.pk %}" class="btn btn-warning pull-right btn-sm"><i class="fa fa-edit"></i>編集</a>
            </div>
        </div><!-- /.box -->
      </div>
    </div>
    {% for comment in article.comment_set.all %}
        {% if comment.is_public %}
            名前:{{ comment.created_by }}<br>
            テキスト:{{ comment.cntent }}<br>
            <a href="{% url 'reply' comment.pk %}">返信する</a><br>
        
            {% for reply in comment.reply_set.all %}
            <div style="margin-left:100px;">
                {% if reply.is_public %}
                    名前:{{ reply.created_by }}<br>
                    テキスト:{{ reply.cntent }}<br>       
                {% else %}
                    <p>まだ承認されていません。(返信コメント)</p>
                {% endif %}
            </div>
            {% endfor %}
     
        {% else %}
            <p>まだ承認されていません。(コメント)</p>
        {% endif %}
        <hr>
    {% empty %}
    <p>対象のデータがありません</p>
    {% endfor %}
    {% include "./article_comments.html" %}
{% endblock %}
