{% extends "./_base.html" %}
{% load bootstrap4 %}
{% block page_name %}<i class="fa fa-pencil"></i>記事作成{% endblock %}
{% block page_description %}見出しごとにブロックを追加してください。{% endblock %}
{% block content %}

    {{ form.certifications.errors }}
    <div class="row">
      <div class="col-xs-12">

        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-info-circle"></i>基本情報</h3>
          </div><!-- /.box-header -->
          <div>
            {% bootstrap_formset_errors formset %}
          </div>
          <form method="post" id="myform" class="form-horizontal">
            <div class="box-body">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for field in form %}
                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="{{ form.intro_title.id_for_label }}">{{ field.label_tag }}</label>
                        <div class="col-xs-10">
                            {{ field }}
                        </div>

                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}

                        {% for error in field.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endfor %}
 
                <table class="table table-striped">
                    <tbody class="articledetail">
                    {% for form in formset %}
                        <tr>
                            <td class="align-middle rownum col-xs-2">
                                <label class="control-label"><i class="fa fa-file-text-o"></i>見出しブロック{{ forloop.counter }}</label>
                            </td>
                            <td>
                                {% bootstrap_field form.id show_label=false field_class="col-xs-10" %}
                                {% bootstrap_field form.order_id show_label=true field_class="col-xs-10" %}
                                {% bootstrap_field form.block_title show_label=true field_class="col-xs-10" %}
                                {% bootstrap_field form.block_content show_label=true field_class="col-xs-10" %}
                                {% bootstrap_field form.DELETE show_label=true field_class="float-right col-xs-10" %}
                            </td>
                        </tr>
                        {% if forloop.last %}
                             <input type="hidden" name="counter" id="counter" value="{{ forloop.counter }}">
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <a class="btn btn-info add-articledetail btn-block"><i class="fa fa-plus"></i>行を追加</a>
            </div>
            <div class="box-footer">
                {% if object %}
                    <a href="{% url 'detail' article.pk %}" class="btn btn-default btn-sm"><i class="fa fa-reply"></i>戻る</a>
                {% else %}
                    <a href="{% url 'index' %}" class="btn btn-default"><i class="fa fa-reply"></i>戻る</a>
                {% endif %}
                <button type="submit" class="btn btn-primary command save pull-right"><i class="fa fa-save"></i>登録</button>

                <a href="" class="btn btn-info" data-toggle="modal" data-target="#InfoModal"><i class="fa fa-reply"></i>info</a>

            </div>
          </form>
        </div><!-- /.box -->
      </div>
    </div>

    <div class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="infoModalLabel">確認</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <p>aaaaaaaaa</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block bottom_script %}
    <script type="text/html" id="articledetail-template">
        <tr id="articledetail-__prefix__">
            <td class="align-middle rownum col-xs-2">
                <label class="control-label"><i class="fa fa-file-text-o"></i>見出しブロック</label>
            </td>
            <td>
                {% bootstrap_field formset.empty_form.order_id show_label=False field_class="col-xs-10" %}
                {% bootstrap_field formset.empty_form.block_title show_label=False field_class="col-xs-10" %}
                {% bootstrap_field formset.empty_form.block_content show_label=False field_class="col-xs-10" %}
                {% bootstrap_field formset.empty_form.DELETE show_label=False field_class="float-right col-xs-10" %}
            </td>
        </tr>
    </script>
    <script src="/static/ckeditor/ckeditor/ckeditor.js"></script>
    <script>
        $(function () {
            //導入文に対してCKEDITER適用
            CKEDITOR.replace('id_intro_content');

            //見出しに対してCKEDITER適用（編集時）
            var block_count = $("#counter").val();
            for( var i = 0; i < block_count; i++ ) {
                var block_init = 'id_articledetail_set-number-block_content';
                var block_id = block_init.replace(/number/g, i);
                CKEDITOR.replace(block_id);
            }

            //見出しに対してCKEDITER適用（追加ボタン押下時）
            $('.add-articledetail').click(function (e) {
                e.preventDefault();
                var count = parseInt($('#id_articledetail_set-TOTAL_FORMS').attr('value'), 10);
                var tmplMarkup = $('#articledetail-template').html();
                var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count)
                block_count ++;
                compiledTmpl = compiledTmpl.replace('見出しブロック', '見出しブロック' + block_count);

                $('tbody.articledetail').append(compiledTmpl);
                $('#id_articledetail_set-TOTAL_FORMS').attr('value', count + 1);
                var block = 'id_articledetail_set-number-block_content';
                var block_r = block.replace(/number/g, count);
                CKEDITOR.replace(block_r);
            });
            
        });
    </script>

{% endblock bottom_script %}

