{% extends "./_base.html" %}
{% load bootstrap4 %}
{% block page_name %}<i class="fa fa-pencil"></i>Imageファイル一覧{% endblock %}
{% block page_description %}画像ファイルを表示します。{% endblock %}
{% block content %}

  {% for image in images %}
      <div><img src="{{ image.ImageField }}"><br></div>
  {% endfor %}
  
  <ul class="list-unstyled image-list">
    {% for image in images %}
    <li>
        <a href="{% url 'image_detail' image.id %}">
            <img src="{{ image.thumbnail.url }}" width="250">
        </a>
        <p>{{ image.origin }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}