{% extends "./_base.html" %}
{% load bootstrap4 %}
{% block page_name %}<i class="fa fa-pencil"></i>Imageファイル一覧{% endblock %}
{% block page_description %}画像ファイルを表示します。{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
      <div class="col-xs-12">

        <div class="box box-primary">
        <div class="box-body">
          <div class="dataTables_wrapper form-inline dt-bootstrap">
            <form id="filter" method="get">
                <div class="row">
                    <div class="col-sm-12">
                        <div>
                            {{ filter.form|crispy }}
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-primary " href="{% url 'image_upload' %}"><i class="fa fa-plus"></i>新規追加</a>
                        <button type="submit" class="btn btn-default btn-sm pull-right" form="filter"><i class="fa fa-search"></i>検索</button>
                        <a class="btn btn-danger btn-sm pull-right" href="?page=1"><i class="fa fa-close"></i>解除</a>
                    </div>
                </div>
            </form>
          </div>
        </div>
          <div class="box-body table-responsive">
            <table id="article_list" class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:80px;text-align:center;">ID</th>
                        <th style="text-align:center;">タイトル</th>
                        <th style="text-align:center;">画像概要</th>
                        <th style="text-align:center;">ファイル名</th>
                        <th style="text-align:center;">アップロード者/アップロード日</th>
                        <th style="width:80px;text-align:center;"></th>
                    </tr>
                </thead>
                <tbody>
                {% for image in image_list %}
                <tr>
                    <td rowspan="2"><img src="{{ image.thumbnail.url }}" width="250">{{ image.id }}</td>
                    <td rowspan="2">{{ image.title }}</td>
                    <td rowspan="2">{{ image.description }}</td>
                    <td rowspan="2">{{ image.origin }}</td>
                    <td>{{ info.created_by.get_full_name }}</td>
                    <td><a href="" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i>編集</a></td>
                    
                </tr>
                <tr>
                    <td>{{ info.created_at|date:"Y/m/d G:i:s" }}</td>
                    <td><a href="" class="btn btn-danger btn-sm" id="btn_del"><i class="fa fa-trash"></i>削除</a></td>
                </tr>

                {% empty %}
                <p>対象のデータがありません</p>
                {% endfor %}

                </tbody>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">

            {% if is_paginated %}
            <ul class="pagination">
                <!-- 前へ の部分 -->
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                <!-- 数字の部分 -->
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="#!">{{ num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                <!-- 次へ の部分 -->
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
  
  <ul class="list-unstyled image-list">
    {% for image in images %}
    <li>
        <a href="{% url 'image_detail' image.id %}">
            <img src="{{ image.thumbnail.url }}" width="250">
        </a>
        <p>{{ image.origin }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}