{% extends "./_base.html" %}
{% block page_name %}<i class="fa fa-files-o"></i>サイト一覧{% endblock %}
{% block page_description %}登録済みデータを参照します。{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
      <div class="col-xs-12">

        <div class="box box-primary">
        <div class="box-body">
          <div class="dataTables_wrapper form-inline dt-bootstrap">
            <form id="filter" method="get">
                <div class="row">
                    <div class="col-sm-12">
                        <div>
                            {{ filter.form|crispy }}
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-primary " href="{% url 'site_create' %}"><i class="fa fa-plus"></i>新規作成</a>
                        <button type="submit" class="btn btn-default btn-sm pull-right" form="filter"><i class="fa fa-search"></i>検索</button>
                        <a class="btn btn-danger btn-sm pull-right" href="?page=1"><i class="fa fa-close"></i>解除</a>
                    </div>
                </div>
            </form>
          </div>
        </div>
          <div class="box-body table-responsive">
            <table id="article_list" class="table table-bordered">
                <thead>
                    <tr>
                        <th style="text-align:center;">ID</th>
                        <th style="text-align:center;">サイト名</th>
                        <th style="text-align:center;">URL</th>
                        <th style="text-align:center;">サイト概要</th>
                        <th style="text-align:center;">備考</th>
                        <th style="text-align:center;">開設日/ランク</th>
                        <th style="text-align:center;">作成日/作成者</th>
                        <th style="width:80px;text-align:center;"></th>
                    </tr>
                </thead>
                <tbody>
                {% for site in site_list %}
                <tr>
                    <td rowspan="2">{{ site.id }}</td>
                    <td rowspan="2"><a href="{% url 'site_detail' site.pk %}">{{ site.title }}</a></td>
                    <td rowspan="2">{{ site.url }}</td>
                    <td rowspan="2">{{ site.description }}</td>
                    <td rowspan="2">{{ site.note }}</td>
                    <td>{{ site.open_date|date:"Y/m/d" }}</td>
                    <td>{{ site.created_at|date:"Y/m/d G:i:s" }}</td>
                    <td><a href="{% url 'site_update' site.pk %}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i>編集</a></td>
                </tr>
                <tr>
                    <td>{{ site.get_rank_display }}</td>
                    <td>{{ site.created_by.get_full_name }}</td>
                    <td><a href="{% url 'site_delete' site.pk %}" class="btn btn-danger btn-sm" id="btn_del"><i class="fa fa-trash"></i>削除</a></td>
                </tr>

                {% empty %}
                <p>対象のデータがありません</p>
                {% endfor %}

                </tbody>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">

            {% if is_paginated %}
            <ul class="pagination">
                <!-- 前へ の部分 -->
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                <!-- 数字の部分 -->
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="#!">{{ num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                <!-- 次へ の部分 -->
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}

